@model FoodEditModel
@{
    ViewData["Title"] = "Edit";
}
<div class="row">
    <div class="col-12 ">
        <form asp-action="Edit" method="post" asp-controller="FoodItems" enctype="multipart/form-data">
            <input type="hidden" asp-for="FoodItemId" />
            <div class="d-flex">
                <div class="col-8 offset-1">
                    <h2>Edit Food item</h2>
                    <div class="form-group row mb-1">
                        <label asp-for="FoodItemName" class="col-form-label col-2"></label>

                        <div class="col-6">
                            <input type="text" asp-for="FoodItemName" class="form-control" />
                            <span asp-validation-for="FoodItemName" class="text-danger" style="font-size:small"></span>

                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label asp-for="Price" class="col-form-label col-2"></label>

                        <div class="col-6">
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger" style="font-size:small"></span>

                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label asp-for="ExpireDate" class="col-form-label col-2"></label>

                        <div class="col-6">
                            <input type="date" asp-for="ExpireDate" class="form-control date" />
                            <span asp-validation-for="ExpireDate" class="text-danger" style="font-size:small"></span>

                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label asp-for="Picture" class="col-form-label col-2"></label>

                        <div class="col-6">
                            <input type="file" asp-for="Picture" class="form-control" />
                            <span asp-validation-for="Picture" class="text-danger" style="font-size:small"></span>

                        </div>
                    </div>
                </div>
                <div>
                    <figure class="figure">
                        <img src="~/Pictures/@ViewBag.CurrentPic" class="img-thumbnail" style="width: 175px; margin: 20px;" />
                        <figcaption class="figure-caption text-center">Fooditem Photo</figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-8 offset-2">
                <div class="d-flex justify-content-lg-between align-content-center">
                    <h3>Sales</h3>
                    <button class="btn py-2" type="submit" name="act" value="add" formnovalidate><i class="fa fa-plus"></i></button>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Order Date</th>
                            <th>Quantity</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.Orders.Count; i++)
                        {
                            <tr>
                                <td>
                                    <input type="date" asp-for="@Model.Orders[i].OrderDate" class="form-control date" />
                                    <span asp-validation-for="@Model.Orders[i].OrderDate" class="text-danger" style="font-size:small"></span>
                                </td>
                                <td>
                                    <input type="text" asp-for="@Model.Orders[i].Quantity" class="form-control" />
                                    <span asp-validation-for="@Model.Orders[i].Quantity" class="text-danger" style="font-size:small"></span>


                                </td>
                                <td>
                                    <button type="submit" name="act" value="remove_@i" class="btn" formnovalidate><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <div class="col-10 text-end">
                <button type="submit" class="btn btn-primary" name="act" value="update">Save</button>
            </div>
        </form>
    </div>
    <div class="col-12">
        @Html.ActionLink("Back to list", "Index")
    </div>
</div>
@section styles
{
    <link href="~/libs/icons/css/font-awesome.css" rel="stylesheet" />
    <link href="~/libs/picker/css/bootstrap-datepicker.standalone.css" rel="stylesheet" />
}
@section scripts {
    <script src="~/libs/jquery/jquery.js"></script>
    <script src="~/libs/validate/jquery.validate.js"></script>
    <script src="~/libs/unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/libs/picker/js/bootstrap-datepicker.js"></script>
}

